@using Shop_Models.Entities
@using X.PagedList

@{
    IPagedList<ManagePost> managePost = ViewBag.ManagePost;
}

@functions {
    // Hàm trợ giúp để cắt ngắn mô tả thành khoảng 20 từ
    public string ShortenDescription(string description, int maxLength)
    {
        if (description.Length <= maxLength)
        {
            return description;
        }
        else
        {
            return description.Substring(0, maxLength) + " ...";
        }
    }
}

<style>
    .container {
        margin-top: 20px;
    }

    .news-card {
        border: 1px solid #ddd;
        margin-bottom: 20px;
        padding: 15px;
        text-align: left;
        transition: box-shadow 0.3s ease-in-out;
    }

        .news-card:hover {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

    .news-title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .news-image img {
        max-width: 100%;
        height: auto;
    }

    .news-description {
        font-size: 16px;
        margin-top: 10px;
    }

    .news-date {
        font-size: 14px;
        color: #555;
        margin-top: 10px;
    }

    .pagination {
        margin-top: 20px;
    }
</style>

<div class="container">
    <h1>Tin tức, Sự Kiện</h1>

    <div class="row">
        @foreach (var item in managePost)
        {
            <div class="col-md-6">
                <div class="news-card">
                    <div class="news-image">
                        <p alt="News Image">@Html.Raw(item.LinkImage)<p/>

                    </div>
                    <div class="news-details">
                        <h3 class="news-title">@item.Code</h3>
                        <p class="news-description">@Html.Raw(ShortenDescription(item.Description, 50))</p>
                        <p class="news-date">@item.CreateDate.ToString("yyyy-MM-dd")</p>
                        <a href="@Url.Action("Details", "Home", new { guid = item.Id })" class="btn btn-primary">Xem chi tiết</a>
                    </div>
                </div>
            </div>
        }
    </div>

    <!-- Pagination -->
    <div class="text-center pagination">
        @if (managePost.HasPreviousPage)
        {
            <a href="@Url.Action("GetAllManagePost", new { page = managePost.PageNumber - 1 })" class="btn btn-secondary">Trang Đầu</a>
        }
        @for (int i = 1; i <= managePost.PageCount; i++)
        {
            <a href="@Url.Action("GetAllManagePost", new { page = i })" class="btn @(i == managePost.PageNumber ? "btn-primary" : "btn-secondary")">@i</a>
        }
        @if (managePost.HasNextPage)
        {
            <a href="@Url.Action("GetAllManagePost", new { page = managePost.PageNumber + 1 })" class="btn btn-secondary">Trang Kế</a>
        }
    </div>
</div>
