@using Shop_Models.Dto;
@inject IConfiguration Configuration;
@{
    string tinhTrangSoLuong = String.Empty;
    List<SanPhamGiamGiaDto> sanPhamGiamGias = ViewBag.SanPhamGiamGia;
    List<SanPhamGiamGiaDto> sanPhamGiamGia2 = ViewBag.SanPhamGiamGiaSame;


}
<style>
    .wrapper {
        display: inline-flex;
        background: #fff;
        height: 100px;
        width: 400px;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 5px;
        padding: 20px 15px;
        box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
    }

        .wrapper .option {
            background: #fff;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin: 0 10px;
            border-radius: 5px;
            cursor: pointer;
            padding: 0 10px;
            border: 2px solid lightgrey;
            transition: all 0.3s ease;
        }

            .wrapper .option .dot {
                height: 20px;
                width: 20px;
                background: #d9d9d9;
                border-radius: 50%;
                position: relative;
            }

                .wrapper .option .dot::before {
                    position: absolute;
                    content: "";
                    top: 4px;
                    left: 4px;
                    width: 12px;
                    height: 12px;
                    background: #0069d9;
                    border-radius: 50%;
                    opacity: 0;
                    transform: scale(1.5);
                    transition: all 0.3s ease;
                }

    input[type="radio"] {
        display: none;
    }

    #option-1:checked:checked ~ .option-1,
    #option-2:checked:checked ~ .option-2 {
        border-color: #0069d9;
        background: #0069d9;
    }

        #option-1:checked:checked ~ .option-1 .dot,
        #option-2:checked:checked ~ .option-2 .dot {
            background: #fff;
        }

            #option-1:checked:checked ~ .option-1 .dot::before,
            #option-2:checked:checked ~ .option-2 .dot::before {
                opacity: 1;
                transform: scale(1);
            }

    .wrapper .option span {
        font-size: 20px;
        color: #808080;
    }

    #option-1:checked:checked ~ .option-1 span,
    #option-2:checked:checked ~ .option-2 span {
        color: #fff;
    }
</style>
@foreach (var t in sanPhamGiamGias)
{
    <section class="py-5">
        <div class="container">
            <h4 class="title text-dark">
                [Deal] @t.TenSanPham)
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <span class="ms-1">
                    4.5
                </span>
                <span class="text-muted"><i class="fas fa-shopping-basket fa-sm mx-1"></i>154 orders</span>
                <span class="text-success ms-2">In stock</span>

            </h4>
            <div class="row gx-5">
                <div class="col-md-4 col-md-4">
                    <div class="border rounded-4 mb-3 d-flex justify-content-center">
                        <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image" href="">
                            <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" src="@Configuration.GetSection("UrlApiAdmin").Value@Url.Content(t.LinkImage)" />
                        </a>
                    </div>

                    <div class="d-flex justify-content-center mb-3">
                        @if (t.OtherImages != null)
                        {
                            @foreach (var linkImagesOther in t.OtherImages)
                            {
                                <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image">
                                    <img width="100" height="100" class="rounded-2" src="@Configuration.GetSection("UrlApiAdmin").Value@Url.Content(linkImagesOther)" />
                                </a>
                            }
                        }
                    </div>
                    <h1>Thông số kỹ thuật</h1>
                    <table class="table border mt-3 mb-2">
                        <tr>
                            <th class="py-2">CPU:</th>
                            <td class="py-2">@t.TenCpu</td>
                        </tr>
                        <tr>
                            <th class="py-2">Ram:</th>
                            <td class="py-2">@t.ThongSoRam</td>
                        </tr>
                        <tr>
                            <th class="py-2">Ổ cứng:</th>
                            <td class="py-2">@t.ThongSoHardDrive</td>
                        </tr>
                        <tr>
                            <th class="py-2">Card VGA</th>
                            <td class="py-2">@t.TenCardVGA @t.ThongSoCardVGA</td>
                        </tr>
                        <tr>
                            <th class="py-2">Màn hình</th>
                            <td class="py-2">@t.KichCoManHinh @t.TanSoManHinh @t.ChatLieuManHinh</td>
                        </tr>
                    </table>

                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="mb-3">
                        <span class="h5">Giá bán: @t.SoTienConLai.ToString("N0")</span>
                        <span class="text-muted">@t.DonGia.ToString("N0")</span><br>
                        <span class="h5">Bảo hành: 12 Tháng</span><br>
                        @if (t.AvailableQuantity > 0)
                        {
                            tinhTrangSoLuong = "Còn hàng";
                        }
                        else
                        {
                            tinhTrangSoLuong = "Hết hàng";
                        }
                        <span class="h5">Tình trạng: @tinhTrangSoLuong</span>
                    </div>
                    <p> Loại sản phẩm: @t.NameProductType </p>
                    <p>Nhà sản xuất: @t.NameManufacturer </p>
                    <p> Màu sắc: @t.NameColor </p>
                    <hr />
                    <h2>CẤU HÌNH:</h2>
                    @foreach (var k in sanPhamGiamGia2)
                    {
                        if (t.ProductDetailCode == k.ProductDetailCode)
                        {

                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckCheckedDisabled" checked disabled>

                                <a class="nav-link mb-1" asp-controller="SanPhamGiamGia" asp-action="Detail" asp-route-code="@k.ProductDetailCode" asp-route-name="@k.NameProduct">
                                    <label class="form-check-label" for="flexSwitchCheckDefault">@k.TenCpu,@k.ThongSoRam, @t.ThongSoHardDrive</label>
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" disabled>

                                <a class="nav-link mb-1" asp-controller="SanPhamGiamGia" asp-action="Detail" asp-route-code="@k.ProductDetailCode" asp-route-name="@k.NameProduct">
                                    <label class="form-check-label" for="flexSwitchCheckDefault">@k.TenCpu,@k.ThongSoRam, @t.ThongSoHardDrive</label>
                                </a>
                            </div>

                        }
                    }
                    <a asp-controller="Client" asp-action="AddSanPhamGiamGiaToCart" asp-route-code="@t.ProductDetailCode" class="btn btn-warning shadow-0"> Mua ngay </a>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="">
                        <ul>
                            <li> <i class="fa-solid fa-star" style="color: #e2ff05;"></i>Chất lượng sản phẩm là hàng đầu</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- content -->
    <section class="bg-light border-top py-4">
        <div class="container">
            <div class="row gx-4">
                <div class="col-lg-8 mb-4">
                    <div class="border rounded-2 px-3 py-2 bg-white">
                        <!-- Pills navs -->
                        <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
                            <li class="nav-item d-flex" role="presentation">
                                <a class="nav-link d-flex align-items-center justify-content-center w-100 active" id="ex1-tab-1" data-mdb-toggle="pill" href="#ex1-pills-1" role="tab" aria-controls="ex1-pills-1" aria-selected="true">Specification</a>
                            </li>
                            <li class="nav-item d-flex" role="presentation">
                                <a class="nav-link d-flex align-items-center justify-content-center w-100" id="ex1-tab-2" data-mdb-toggle="pill" href="#ex1-pills-2" role="tab" aria-controls="ex1-pills-2" aria-selected="false">Warranty info</a>
                            </li>
                            <li class="nav-item d-flex" role="presentation">
                                <a class="nav-link d-flex align-items-center justify-content-center w-100" id="ex1-tab-3" data-mdb-toggle="pill" href="#ex1-pills-3" role="tab" aria-controls="ex1-pills-3" aria-selected="false">Shipping info</a>
                            </li>
                            <li class="nav-item d-flex" role="presentation">
                                <a class="nav-link d-flex align-items-center justify-content-center w-100" id="ex1-tab-4" data-mdb-toggle="pill" href="#ex1-pills-4" role="tab" aria-controls="ex1-pills-4" aria-selected="false">Seller profile</a>
                            </li>
                        </ul>
                        <!-- Pills navs -->
                        <!-- Pills content -->
                        <div class="tab-content" id="ex1-content">
                            <div class="tab-pane fade show active" id="ex1-pills-1" role="tabpanel" aria-labelledby="ex1-tab-1">
                                <h1>Thông tin thêm về sản phẩm</h1><br />
                                <p class="product-description">@Html.Raw(t.Description)</p>
                            </div>
                        </div>
                        <!-- Pills content -->
                    </div>
                </div>
            </div>
        </div>
    </section>
}
