@model Shop_Models.Dto.ProductDetailDto;
@{

    @using Shop_Models;
    @using Shop_Models.Entities;
 

}
 
<div id="example">
    <form asp-controller="ProductDetail" asp-action="Create" method="post">
    
   @*  <div id="grid1"></div> *@

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Mã</label>
            <input type="text" class="form-control" asp-for="Code" placeholder="Mã Sản Phẩm">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Tên Sản Phẩm</label>

            <select class="form-select" asp-for="IdProduct">
                <option>Chọn Tên Sản Xuất</option>
                @foreach (var t in (List<Product>)ViewBag.GetProduct)
                {
                    <option value="@t.Id">@t.Name</option>
                }

            </select>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"> Màu Sắc</label>
            <div class="form-group col-md-6">
                <select class="form-select" asp-for="IdColor">
                    <option>Chọn Màu Sắc</option>
                    @foreach (var t in (List<Color>)ViewBag.GetColor)
                    {
                        <option value="@t.Id">@t.Name</option>
                    }

                </select>
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Ram</label>
            <select class="form-select" asp-for="IdRam">
                <option>Chọn Ram</option>
                @foreach (var t in (List<Ram>)ViewBag.GetRam)
                {
                    <option value="@t.Id" >@t.Ma</option>
                }

            </select>

        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Vi Xử Lí</label>
            <select class="form-select" asp-for="IdCpu">
                <option>Chọn Vi Xử Lí</option>
                @foreach (var t in (List<Cpu>)ViewBag.GetCPU)
                {
                    <option value="@t.Id" >@t.Ma</option>
                }

            </select>
        </div> 
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Vi Xử Lí</label>
            <select class="form-select" asp-for="IdScreen">
                <option>Chọn Vi Xử Lí</option>
                @foreach (var t in (List<Screen>)ViewBag.GetScreen)
                {
                    <option value="@t.Id" >@t.Ma</option>
                }

            </select>
        </div> 
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">HardDrive</label>
            <select class="form-select" asp-for="IdHardDrive">
                <option>Chọn HardDrive</option>
                @foreach (var t in (List<HardDrive>)ViewBag.GetHardDrive)
                {
                    <option value="@t.Id" >@t.Ma</option>
                }

            </select>
        </div>   
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">CardVGA</label>
            <select class="form-select" asp-for="IdCardVGA">
                <option>Chọn CardVGA</option>
                @foreach (var t in (List<CardVGA>)ViewBag.GetlistCardVGA)
                {
                    <option value="@t.Id" >@t.Ma</option>
                }

            </select>
        </div> 
       
       @*  <div class="form-group col-md-6">
            <label for="">Sản phẩm</label>
            <select class="form-select" >
                @foreach (var t in (List<ProductType>)ViewBag.GetProductType)
                {
                    <option>@t.Name</option>
                }

            </select>
        </div> *@
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Upgrade</label>
            <input type="number" class="form-control" id="exampleFormControlInput1" asp-for="Upgrade" placeholder="Nhập Upgrade">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Price</label>
            <input type="number" class="form-control" id="exampleFormControlInput1" asp-for="Price" placeholder="Nhập Price">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">ImportPrice</label>
            <input type="number" class="form-control" id="exampleFormControlInput1" asp-for="ImportPrice" placeholder="Nhập ImportPrice">
        </div>
        <div class="demo-section wide">
            <textarea name="editor" id="description" rows="10" cols="30" style="width:100%; height:840px" aria-label="editor"></textarea>
        </div>


        <button type="submit" class="btn btn-primary">Save</button>
    </form>
        <script>
        var editor = $("#description").kendoEditor({
                stylesheets: [
                    "../content/shared/styles/editor.css",
                ],
                tools: [
                    "bold",
                    "italic",
                    "underline",
                    "undo",
                    "redo",
                    "justifyLeft",
                    "justifyCenter",
                    "justifyRight",
                    "insertUnorderedList",
                    "createLink",
                    "unlink",
                    "insertImage",
                    "tableWizard",
                    "tableProperties",
                    "tableCellProperties",
                    "createTable",
                    "addRowAbove",
                    "addRowBelow",
                    "addColumnLeft",
                    "addColumnRight",
                    "deleteRow",
                    "deleteColumn",
                    "mergeCellsHorizontally",
                    "mergeCellsVertically",
                    "splitCellHorizontally",
                    "splitCellVertically",
                    "tableAlignLeft",
                    "tableAlignCenter",
                    "tableAlignRight",
                    "fontSize",
                    "foreColor",
                    "backColor",
                ]
            });
        </script>
    </div>


@section scripts {
    <link href="https://kendo.cdn.telerik.com/2021.3.914/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="https://kendo.cdn.telerik.com/2021.3.914/styles/kendo.default.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.3.914/js/kendo.all.min.js"></script>
    <script>

      
    </script>


    
}
